body {
    background-color: black;
}

/* home- sharefood */
#sharefood, #sff {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: inherit;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

/* -----navbar----- */
.navbar {
    background-color: rgb(red, green, blue);
    overflow: hidden;
    position: relative;
}

.navbar ul {
    overflow: hidden;
    align-items: center;
}

.navbar ul li {
    float: left;
    list-style-type: none;
    padding: 10px 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    display: block;
}

.navbar ul li:hover {
    background-color: springgreen;
}
.navbar ul li.active {
    background-color: salmon;
}

/* bg image*/

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
#wel{
    color: aliceblue;
    
}
.content{
    color: white;
}

#home, #about, #contact{
    color: white;
    padding: 20px;
    text-align: center;
}

footer{
    text-align: center;
    color: blue;
}
#sharefood legend{
    padding: 10px;
}
#sharefood form label{
    padding: 5px 10px;
    color: dodgerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: table-cell;
}
#sharefood form{
    display: table;
}